page-register{

  .hr_line {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #000;
    line-height:0.1em;
    margin:10px 0 20px;
    color: gray;
    font-size: 1.3rem !important;
  }
  .hr_line span {
    background:#fff;
    padding:0 10px;
  }
  
  .register {


  }

  ion-label {
    font-size: 1em;
    color: black !important;
  }

  // .text-primary {
  //   color: black !important;
  // }

  ion-item input {
    color: black !important;
    
  }
 
    #avatar {
      display: none;
    }
   
    
  }

