<!--
  Generated template for the UserMakeRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

        <ion-title>
            <ion-grid>
                <ion-row class="header-class">
                    <ion-col col-2>
                        <!-- <div class="logoHeader"></div> -->
                    </ion-col>
                    <ion-col col-6>
                        <strong>Make Request</strong>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!-- <strong>Requests</strong> -->
        </ion-title>

    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-row>
        <ion-col text-center col-4>
            <button ion-button color="danger" clear icon-start (click)="takePicture_Simple()">
                <ion-icon name='ios-camera'></ion-icon>
                Take A Pic
            </button>
        </ion-col>
        <ion-col text-center col-8>
            <button ion-button color="secondary" clear icon-start (click)="openImagePicker()">
                <ion-icon name='ios-image'></ion-icon>
                Select From Gallery
            </button>
        </ion-col>
    </ion-row>

    <ion-card>
        <ion-slides [slidesPerView]="slidesPerView" class="image-slider">
            <ion-slide *ngFor="let i = index; let photo of photos" style="padding: 2px;">
                <img src="{{ photo }}" class="thumb-img" style="border-radius: 4px;" imageViewer/>

                <button ion-button color="danger" clear icon-only (click)="removeImage(i)">
                    <ion-icon name='trash' is-active="false"></ion-icon>
                </button>
            </ion-slide>
        </ion-slides>
    </ion-card>

    <ion-list>
        <ion-item>
            <ion-label floating>
                <ion-icon name="pin" item-start class="text-primary"></ion-icon>
                Zipcode
            </ion-label>

            <ion-select [(ngModel)]="request_m.zip" class="selectStyle">
                <ion-option *ngFor="let zip of zips" value="{{ zip['code'] }}">{{ zip['code'] }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                Address
            </ion-label>
            <ion-input type="text" name="phone" [(ngModel)]="request_m.address"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label floating>
                <ion-icon name="md-list" item-start class="text-primary"></ion-icon>
                Work Category
            </ion-label>

            <ion-select [(ngModel)]="request_m.categoryId" class="selectStyle">
                <ion-option *ngFor="let cat of categories" value="{{ cat['categoryId'] }}">{{ cat['cat_name'] }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <ion-icon name="md-calendar" item-start class="text-primary"></ion-icon>
                Expected Completion Time
            </ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" max="2022-12-31" [(ngModel)]="request_m.ect"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <ion-icon name="md-bookmark" item-start class="text-primary"></ion-icon>
                Description
            </ion-label>
            <ion-input type="text" name="phone" [(ngModel)]="request_m.description"></ion-input>
            <!-- <ion-textarea placeholder="Enter a description" [(ngModel)]="request_m.description"></ion-textarea> -->
        </ion-item>

    </ion-list>

    <button ion-button icon-left block (click)="sendRequest()">
        <ion-icon name="cloud-upload"></ion-icon> Send Request
    </button>

</ion-content>


<!-- <ion-footer>
    <ion-toolbar color="primary">
        <ion-buttons>
            <button ion-button icon-left (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>
            <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
          <ion-icon name="cloud-upload"></ion-icon>Upload
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer> -->