<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            <ion-grid>
                <ion-row class="header-class">
                    <ion-col col-2>
                        <!-- <div class="logoHeader"></div> -->
                    </ion-col>
                    <ion-col col-6>
                        <strong>Recent Requests</strong>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!-- <strong>Requests</strong> -->
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

    <ion-card padding text-center *ngIf="requests.length == 0">
        <ion-row>
            <ion-col text-center>
                <ion-note style="font-size: 1.5rem;">No Recent Requests by You</ion-note>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col text-center>
                <button ion-button color="primary" clear small icon-start (click)="openMakeRequestPage()">
                    <ion-icon name='md-buffer'></ion-icon>
                    Make A Request
                </button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card *ngFor="let i = index; let request of requests" id="card-{{request.requestId}}">

        <!-- <ion-item>
            <ion-avatar item-start>
                <img src="{{ USER_IMG_URL + request.image }}">
            </ion-avatar>
            <h2>{{ request.name }}</h2>
            <ion-note>{{ request.email }}</ion-note>
        </ion-item> -->

        <img *ngIf="!imgloaded[i]" src="{{ loadingAnimation }}" />
        <img [hidden]="!imgloaded[i]" (load)="imgloaded[i] = true" src="{{ request.img }}" />
        <!-- <img src="{{ request.img || loadingAnimation }}"> -->

        <ion-card-content>
            <p><strong>Category:</strong> {{ request.cat_name }}</p>
            <p><strong>Description:</strong> {{ request.description }}</p>


            <ion-col col-12 *ngIf="request['offer']">
                <p><strong>SnapRepair Offered Prize:</strong>
                    <ion-badge color="secondary">${{ request['offer'].price }}</ion-badge>
                </p>
            </ion-col>

            <ion-note>
                Expected Completion Time: {{ request.ect }}
            </ion-note>
            <!-- <ion-col text-center col-6>
                <ion-badge color="primary">{{ request.price }}</ion-badge>
            </ion-col> -->

        </ion-card-content>

        <ion-row>
            <ion-col text-center col-6>
                <button ion-button color="instagram" clear small icon-start (click)="viewDetails(request.requestId)">
                  <ion-icon name='ios-bookmark'></ion-icon>
                  View Details
                </button>
            </ion-col>
            <ion-col text-center col-6 *ngIf="!request['offer']">
                <button ion-button color="danger" clear small icon-start (click)="deleteRequest(request.requestId)">
                  <ion-icon name='md-trash'></ion-icon>
                  Delete
                </button>
            </ion-col>

            <ion-col text-center col-6 *ngIf="request['offer']">

                <button ion-button color="secondary" [hidden]="request['offer'].status != 0" clear small icon-start (click)="presentConfirm(request['offer'].offerId, request['offer'].price, request.requestId)">
                    <ion-icon name='md-bookmark'></ion-icon>
                    Accept / Decline
                </button>

                <!-- <ion-badge [hidden]="offer.status != 1" color="secondary">Offer Accepted</ion-badge> -->
                <ion-badge class="badge_Margin" [hidden]="request['offer'].status != -1" color="danger">Offer Declined</ion-badge>
            </ion-col>
            <!-- <ion-col align-self-center text-center>
                <ion-note>
                    {{ request.ect }}
                </ion-note>
            </ion-col> -->
        </ion-row>

    </ion-card>

</ion-content>